{% extends 'generator/partials/_layaout.html' %}

{% block content %}

    <div class="col-md-4 offset-md-4 p-5 bg-secondary text-center">
        <h4>Password</h4>
        <button id="p1" type="button" class="btn btn-warning" onclick="copiarAlPortapapeles('p1')">{{password}}</button>
  
    </div>

    <script>
        function copiarAlPortapapeles(id_elemento) {
            var aux = document.createElement("input");
            aux.setAttribute("value", document.getElementById(id_elemento).innerHTML);
            document.body.appendChild(aux);
            aux.select();
            document.execCommand("copy");
            document.body.removeChild(aux);
        }
    </script>
{% endblock %}